body {
  margin: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
img #headerBanner {
  width: 1280px;
  position: relative;
  top: -10;
  left: -10;
}
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
#navbar {
  overflow: hidden;
  background-color: #333;
  color: #f2f2f2;
  width:auto;
}
#navbar button {
  float: left;
  display: block;
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 4px 4px 4px;
  height: 33px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  line-height: normal;
}
#navbar button:hover {
  background-color: #ddd;
  color: black;
  }
#navbar button.active {
  background-color: #4CAF50;
  color: white;
}
.content {
  padding: 4px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.sticky + .content{
  padding-top: 117px;
  z-index: 1000;
}
div.weatherInputs {
  width: 450px;
  font-size: 13pt;
}
#loc {
  height: 20%;
  width: 80px;
}
#lat {
  height: 20%;
  width: 60px;
}
#lon {
  height: 20%;
  width: 80px;
}
#dist {
  height: 20%;
  width: 120px;
}
#min {
  height: 20%;
  width: 120px;
}
/*      Current Weather widows       */
#currentWeatherWidget {
 float: right;
 width: 270px;
 height: 90px;
}
div.card-content {
 background-color: lightblue;
 height: 90px;
}
#currentWeather {
  position: relative;
  top: -73px;
  left: 8px;
  background-color: white;
  border-radius: 80%;
}
p.currentWeather {
  font-size: 60%;
  text-align: right;
  position: relative;
  top: 23px;
  left: -11px;
  color: grey;
}
p.currentTemp {
  font-size: 180%;
  position: relative;
  top: -24px;
  left: 13px;
  color: black;
}
p.currentFLTemp {
  font-size: 70%;
  width: 127px;
  position: relative;
  top: -59px;
  left: 17px;
}
p.windMeter {
  text-align: right;
  font-size: 40%;
  padding-right: 10%
}
p.currentLatLon {
  font-size: 40%;
  text-align: right;
  padding-right: 10%;
  text: center;
}
p.hikeInformation{
  width: 600px;
}
div.hikeCard-Content {
  background-color: lightblue;
  width: 130px;
  height: 130px
}
p.currentHikeTemp {
  font-size: 150%;
  position: relative;
  top: 0px;
  left: -8px;
  color: black;
}
p.hikeFLTemp {
  font-size: 60%;
  text-align: left;
  position: relative;
  top: -29px;
  left: -5px;
  color: white;
}
p.hikeCurrentWeather {
  font-size: 60%;
  text-align: right;
  position: relative;
  top: 63px;
  left: 0px;
  color: grey;
}
#hikeCurrentWeatherImg {
  position: relative;
  top: -54px;
  left: 6px;
  background-color:white;
  border-radius: 100%;
}







/*      Field Modifications       */
#loc:valid {
  color: #d8ffe3;
  font-size: 10pt;
}
#lat:valid {
  color: #d8ffe3;
}
#lat:invalid {
  color: #ffd3d3;
}
#lon:valid {
  color: #d8ffe3;
}
#lon:invalid {
  color: #ffd3d3;
}
#dist:valid {
  color: #d8ffe3;
}
#min:valid {
  color: #d8ffe3;
}
input.custom {
  caret-color: red;
  font: 13px 'Helvetica', 'Arial', 'sans-serif'
}







@media screen and (max-width:722px) {

body {
  margin: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  height: 50px;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
div h2 {
  font-size: 10pt;
  position: top;
  margin-top: 0;
}
#navbar {
  overflow: hidden;
  background-color: #333;
  color: #f2f2f2;
  height: 95px;
}
#navbar button {
  float: right;
  display: block;
  background-color: #333;
  color: #f2f2f2;
  position: relative;
  top: -30px;
  left: -20px;
  width: 70px;
  height: 70px;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}
#navbar button:hover {
  background-color: #ddd;
  color: black;
  }
#navbar button.active {
  background-color: #4CAF50;
  color: white;
}
.content {
  padding: 4px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.sticky + .content{
  padding-top: 117px;
  z-index: 1000;
}
div.weatherInputs {
  width: 250px;
  font-size: 9pt;
}
label.loc {
  display:none
}
#loc {
  height: 20%;
  width: 80px;
  font-size: 8pt;
}
label.lat {
  display:none
}
#lat {
  height: 20%;
  width: 60px;
}
label.lon {
  display:none
}
#lon {
  height: 20%;
  width: 80px;
}
label.dist {
  display:none
}
#dist {
  height: 20%;
  width: 120px;
}
label.min {
  display:none
}
/* input::placeholder {
  display:none;
} */
#min {
  height: 20%;
  width: 109px;
}
/*      Current Weather widows       */
#currentWeatherWidget {
 float: right;
 width: 100px;
 height: 90px;
}
div.card-content {
 background-color: lightblue;
 height: 60px;
}
#currentWeather {
  position: relative;
  top: -38px;
  left: 8px;
  background-color:white;
  border-radius: 100%;
  width:43px;
  height:31px;
}
p.currentWeather {
  font-size: 30%;
  text-align: right;
  position: relative;
  top: 50px;
  color:grey;
}
p.currentTemp {
  font-size: 100%;
  position: relative;
  top: 10px;
  color: black;
}
p.currentFLTemp {
  font-size: 40%;
  width: 40px;
  position: relative;
  top: -10px;
  left: -2px;
}
p.hikeInformation{
  width: auto;
}
div.hikeCard-Content {
  background-color: lightblue;
  width: 130px;
  height: 130px;

}
p.currentHikeTemp {
  font-size: 150%;
  position: relative;
  top: 0px;
  left: -8px;
  color: black;
}
p.hikeFLTemp {
  font-size: 60%;
  text-align: left;
  position: relative;
  top: -29px;
  left: -5px;
  color: white;
}
p.hikeCurrentWeather {
  font-size: 60%;
  text-align: right;
  position: relative;
  top: 63px;
  left: 0px;
  color: grey;
}
#hikeCurrentWeatherImg {
  position: relative;
  top: -54px;
  left: 6px;
  background-color:white;
  border-radius: 100%;
}
}
